# Project exclude paths
/node_modules/
/.idea/
/dist/
/coverage/
/coverage/lcov-report/base.css
/coverage/lcov-report/block-navigation.js
/coverage/clover.xml
/coverage/lcov-report/model/model/controller.model.ts.html
/coverage/lcov-report/src/model/model/controller.model.ts.html
/coverage/lcov-report/config/controllers.config.ts.html
/coverage/lcov-report/src/config/controllers.config.ts.html
/coverage/coverage-final.json
/coverage/lcov-report/favicon.png
/coverage/lcov-report/__tests__/helper/index.html
/coverage/lcov-report/config/index.html
/coverage/lcov-report/controller/index.html
/coverage/lcov-report/model/enum/index.html
/coverage/lcov-report/model/model/index.html
/coverage/lcov-report/repository/impl/index.html
/coverage/lcov-report/service/index.html
/coverage/lcov-report/src/config/index.html
/coverage/lcov-report/src/controller/index.html
/coverage/lcov-report/src/model/enum/index.html
/coverage/lcov-report/src/model/model/index.html
/coverage/lcov-report/src/repository/impl/index.html
/coverage/lcov-report/src/service/index.html
/coverage/lcov-report/index.html
/coverage/lcov-report/__tests__/helper/integration.helper.ts.html
/coverage/lcov.info
/coverage/lcov-report/model/enum/method.enum.ts.html
/coverage/lcov-report/src/model/enum/method.enum.ts.html
/coverage/lcov-report/config/middleware.config.ts.html
/coverage/lcov-report/src/config/middleware.config.ts.html
/coverage/lcov-report/prettify.css
/coverage/lcov-report/prettify.js
/coverage/lcov-report/model/model/server.model.ts.html
/coverage/lcov-report/src/model/model/server.model.ts.html
/coverage/lcov-report/sort-arrow-sprite.png
/coverage/lcov-report/sorter.js
/coverage/lcov-report/controller/synonym.controller.ts.html
/coverage/lcov-report/src/controller/synonym.controller.ts.html
/coverage/lcov-report/service/synonym.service.ts.html
/coverage/lcov-report/src/service/synonym.service.ts.html
/coverage/lcov-report/repository/impl/synonym-memory.repository.ts.html
/coverage/lcov-report/src/repository/impl/synonym-memory.repository.ts.html
